fastapi
uvicorn
langchain
langchain-text-splitters
chromadb
python-multipart
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-magic
python-magic-bin;platform_system=='Windows'
mysql-connector-python
